################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KMI.FRMWRK.Web/FileContentIndex/1b480e68-819c-4ac8-a63c-bf26b21d3aea.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/02349bd1-f3f3-4b74-91d0-35925d21d30c.vsidx
*.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/6012167e-f116-4c90-94c0-70eef69a3880.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/838a06a6-3ca7-4f9d-9284-433ea8762194.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/b32b4e0d-c597-4613-a0e7-ffd53708219b.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/cb39d6a6-85c5-4447-ba87-820825cb903c.vsidx
/.vs/KMI.FRMWRK.Web/v17/.suo
/.vs/KMI.FRMWRK.Web/FileContentIndex/02349bd1-f3f3-4b74-91d0-35925d21d30c.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/02349bd1-f3f3-4b74-91d0-35925d21d30c.vsidx
/.vs/KMI.FRMWRK.Web/FileContentIndex/02349bd1-f3f3-4b74-91d0-35925d21d30c.vsidx
/.vs/KMI.FRMWRK.Web/v17/.suo
*.dll
*.pdb
# Ignore all .dll files
*.dll

# Ignore build output folders (optional but recommended)
bin/
obj/

# Ignore Visual Studio folder
.vs/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore logs
*.log
/KMI.FRMWRK.Web/obj/Debug/KMI.FRMWRK.Web.csproj.AssemblyReference.cache
/.vs/KMI.FRMWRK.Web/config/applicationhost.config
/KMI.FRMWRK.Communication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KMI.FRMWRK.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
