<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
  </configSections>
  <appSettings>
    <add key="TrackActivity" value="YES" />
    
    <add key="WindowsCkycSftp" value="C:/HostedApplications/CKYC/Demo/CKYC_DEMO_DEV_APP/CKYC/Applications/WindowsCkycSftp/WindowsCkycSftp/bin/Debug/WindowsCkycSftp.exe" />
    <add key="WindowsCKYCExcelSFTP" value="C:/HostedApplications/CKYC/Demo/CKYC_DEMO_DEV_APP/CKYC/Applications/WindowsCKYCExcelSFTP/WindowsCKYCExcelSFTP/bin/Debug/WindowsCKYCExcelSFTP.exe" />
    <add key="WinBatchJobService" value="C:/HostedApplications/CKYC/Demo/CKYC_DEMO_DEV_APP/CKYC/Applications/WinBatchJobService/WinBatchJobService/bin/Debug/WinBatchJobService.exe" />
  
    <add key="OutputFiles" value="C:\HostedApplications\CKYC\Demo\CKYC_DEMO_DEV_APP\CKYC\File\OutputFiles\" />
    <add key="OutputArchive" value="C:\HostedApplications\CKYC\Demo\CKYC_DEMO_DEV_APP\CKYC\File\Output Archive\" />
    <add key="InputArchive" value="C:\HostedApplications\CKYC\Demo\CKYC_DEMO_DEV_APP\CKYC\File\Input Archive\" />
  
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConn" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=USRMGMT;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="Communication" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=COMMUNICATION;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    -->
    <!--<add name="DefaultConn" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=USRMGMT;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="UpdDwnldConnectionString" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=UPDDWNLD;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="CKYCConnectionString" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=CKYC;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="STAGINGConnectionString" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=STAGING;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />-->
    <add name="DefaultConn" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=USRMGMT;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="Communication" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=COMMUNICATION;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConn" connectionString="Data Source=KMISERVER101,55571\CKYCILFSDEV;Initial Catalog=USRMGMT;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />-->
    <add name="UpdDwnldConnectionString" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=UPDDWNLD;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="CKYCConnectionString" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=CKYC;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="STAGINGConnectionString" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=STAGING;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <!-- Added By Megha Bhave 18.02.2021 -->
    <add name="INTGRTNConnectionString" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=INTGRTN;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <add name="INTGRTN_WORKConnectionString" connectionString="Data Source=40.113.245.190,50496;Initial Catalog=INTGRTN_WORK;Integrated Security=False;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />
    <!-- Ended By Megha Bhave 18.02.2021 -->
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConn" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <!--timeout="40"-->
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConn" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Account/Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8173/CkycDwldService/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService" contract="IService" name="WSHttpBinding_IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/CkycService/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://desktop-9kkt7kk/CkycDwld/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1" contract="ServiceReference2.IService" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>